<!DOCTYPE html>
<html lang="bg"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DAM.BG</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light w-100" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/images/logo.png" alt="Logo" class="rounded-circle" width="30" height="30">
            DAM.BG
        </a>
        <a class="nav-link">
            <form th:method="GET" class="form-inline">
                <label class="text-dark mr-1" for="lang" th:text="#{nav_bar_language}">Език</label>
                <select
                        id="lang"
                        name="lang"
                        onchange="this.form.submit()">
                    <option value="en_US" th:selected="${#locale.toString() == 'en_US'}">EN</option>
                    <option value="bg_BG" th:selected="${#locale.toString() == 'bg_BG'}">BG</option>
                </select>
            </form>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-dark"
                       th:href="@{/list-advertisements}"
                       th:text="#{footer_ads}">
                        Обяви
                    </a>
                </li>
                <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link dropdown-toggle text-dark"
                       href="#"
                       id="adminDropdown"
                       role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false"
                       th:text="#{nav_bar_admin}">
                        АДМИН
                    </a>
                    <div class="dropdown-menu" aria-labelledby="categoryDropdown">
                        <a class="dropdown-item" th:href="@{/admin}">Управление на акаунти</a>
                        <a class="dropdown-item" th:href="@{/admin/messages}">Съобщения от контакти</a>
                        <a class="dropdown-item" href="/admin/reports">Съобщения от репорти</a>
                    </div>


<!--                    <a class="nav-link text-dark"-->
<!--                       th:href="@{/admin}"-->
<!--                       th:text="#{nav_bar_admin}">-->
<!--                        АДМИН-->
<!--                    </a>-->
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark"
                       href="#"
                       id="categoryDropdown"
                       role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false"
                       th:text="#{nav_bar_category}">
                        Категории
                    </a>
                    <div class="dropdown-menu" aria-labelledby="categoryDropdown">
                        <a class="dropdown-item"
                           data-category="fruits"
                           th:href="@{/list-advertisements(category=${'ПЛОДОВЕ'})}"
                           th:text="#{nav_bar_fruits}">
                            Плодове
                        </a>
                        <a class="dropdown-item"
                           data-category="vegetables"
                           th:href="@{/list-advertisements(category=${'ЗЕЛЕНЧУЦИ'})}"
                           th:text="#{nav_bar_vegetables}">
                            Зеленчуци
                        </a>
                        <a class="dropdown-item"
                           data-category="herbs"
                           th:href="@{/list-advertisements(category=${'ПОДПРАВКИ'})}"
                           th:text="#{nav_bar_herbs}">
                            Подправки
                        </a>
                        <a class="dropdown-item"
                           data-category="seedlings"
                           th:href="@{/list-advertisements(category=${'РАЗСАД'})}"
                           th:text="#{nav_bar_seedlings}">
                            Разсад
                        </a>
                        <a class="dropdown-item"
                           data-category="flowers"
                           th:href="@{/list-advertisements(category=${'ЦВЕТЯ'})}"
                           th:text="#{nav_bar_flowers}">
                            Цветя
                        </a>
                        <a class="dropdown-item"
                           data-category="seeds"
                           th:href="@{/list-advertisements(category=${'СЕМЕНА'})}"
                           th:text="#{nav_bar_seeds}">
                            Семена
                        </a>
                        <a class="dropdown-item"
                           data-category="others"
                           th:href="@{/list-advertisements(category=${'ДРУГИ'})}"
                           th:text="#{nav_bar_others}">
                            Други
                        </a>
                    </div>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link text-dark"
                       th:href="@{/login}"
                       th:text="#{nav_bar_login}">
                        Вход
                    </a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link text-dark"
                       th:href="@{/register}"
                       th:text="#{nav_bar_register}">
                        Регистрация
                    </a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link text-dark"
                       th:href="@{/messages}"
                       th:text="#{nav_bar_messages}">
                        Съобщения
                    </a>
                </li>
                <li class="badge-wrapper">
                    <span class="badge badge-warning circle-badge"
                          th:if="${unreadMessageCount > 0}"
                          th:text="${unreadMessageCount}">0
                    </span>
                </li>

                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link text-dark" th:href="@{/favorites}"><i class="fas fa-heart"></i></a>
                </li>
                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle text-dark" href="#" id="profileDropdown"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user" id="profileIcon"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
                        <a class="dropdown-item"
                           th:href="@{/my-profile}"
                           th:text="#{nav_bar_my_profile}">
                            Моят профил
                        </a>
                        <a class="dropdown-item"
                           th:href="@{/my-advertisements}"
                           th:text="#{nav_bar_my_ads}">
                            Моите обяви
                        </a>
                        <a class="dropdown-item"
                           th:href="@{/messages}"
                           th:text="#{nav_bar_messages}">
                            Съобщения
                        </a>
                        <a class="dropdown-item"
                           th:href="@{/favorites}"
                           th:text="#{nav_bar_favorites}">
                            Любими продукти
                        </a>
                        <a class="dropdown-item">
                            <form th:method="post"
                                  th:action="@{/logout}" class="dropdown-item-form">
                                <button type="submit"
                                        class="dropdown-item dropdown-item-btn"
                                        th:text="#{nav_bar_logout}">
                                    Изход
                                </button>
                            </form>
                        </a>
                    </div>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link text-dark"
                       th:href="@{/advertisement-add}"
                       th:text="#{nav_bar_add_advertisement}">
                        Добави обява
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/scrollToTop.js"></script>
</body>
</html>