<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{about_us_heading}">За нас</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
    </style>
</head>
<body class="about-bg">
<div class="wrapper">
    <header>
        <th:block th:replace="~{fragments/commons::nav}"></th:block>
    </header>
    <div class="main-content">
        <div class="container mt-5">
            <h1 class="text-center" th:text="#{about_us_heading}">ЗА НАС</h1>
            <section>
                <div class="container mt-4">
                    <h3 class="pb-3" th:text="#{about_us_intro}">DAM.BG е платформа за размяна и подаряване на лично
                        произведена продукция!</h3>
                    <p th:text="#{about_us_paragraph1}">Тук, в нашето онлайн пространство, ви предлагаме възможността да
                        споделите излишъка от вашата градина и да откриете нови продукти, отгледани с любов и грижа.
                        Независимо дали имате изобилие
                        от плодове, зеленчуци, подправки, разсад, цветя или семена, нашата платформа е мястото, където
                        можете да ги размените или подарите на други ентусиасти.</p>

                    <p th:text="#{about_us_paragraph2}">Нашата мисия е да свържем хората, които ценят качествената и
                        натурална продукция. Искаме да
                        насърчим обмяната на знания и ресурси между градинарите, да подпомогнем устойчивото земеделие и
                        да създадем една по-свързана и споделена общност.</p>

                    <h3 class="pt-3 pb-3" th:text="#{about_us_subheading}">Какво можете да направите тук?</h3>
                    <ul>
                        <li><b th:text="#{about_us_exchange_title}">Да разменяте продукция: </b>
                            <p th:text="#{about_us_exchange_text}">Имате повече домати, отколкото можете да използвате?
                                Разменете ги за пресни билки или рядък сорт цветя.</p>
                        </li>
                        <li><b th:text="#{about_us_giveaway_title}">Да подарявате излишък: </b>
                            <p th:text="#{about_us_giveaway_text}">Споделете радостта от домашното градинарство с други,
                                като подарите
                                излишната си продукция.</p>
                        </li>
                        <li><b th:text="#{about_us_discover_title}">Да откривате нови продукти: </b>
                            <p th:text="#{about_us_discover_text}">Намерете различни и уникални видове плодове,
                                зеленчуци, семена,
                                цветя и други.</p>
                        </li>
                        <li><b th:text="#{about_us_connect_title}">Да се свързвате с други градинари: </b>
                            <p th:text="#{about_us_connect_text}">Обменяйте опит, съвети и идеи с хора, които споделят
                                вашата страст към земеделието.</p>
                        </li>
                    </ul>

                    <p class="pt-4" th:text="#{about_us_join_text}">Присъединете се към нас и станете част от нашата
                        общност от
                        ентусиасти, които споделят радостта от отглеждането на своя собствена храна. Заедно можем да
                        направим света по-зелен,
                        по-здравословен и по-свързан.</p>
                    <p th:text="#{about_us_enjoy_text}">Споделете своята реколта, открийте нови приятели и се
                        наслаждавайте на плодовете на вашия труд!</p>
                </div>
            </section>
        </div>

        <div class="cta">
            <a th:href="@{/register}" th:text="#{about_us_join_now}">Присъединете се сега!</a>
        </div>

    </div>
    <footer>
        <th:block th:replace="~{fragments/footer::footer}"></th:block>
    </footer>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/scrollToTop.js"></script>
</body>
</html>