<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:text="#{contact_title}">Contact form</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body class="bg-light">
<header>
    <th:block th:replace="~{fragments/commons::nav}"></th:block>
</header>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
                <p th:text="${successMessage}"></p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
                <p th:text="${errorMessage}"></p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="card shadow-sm">
                <div class="card-header bg-success text-white text-center">
                    <h2 th:text="#{contact_title}">Форма за контакти</h2>
                </div>
                <div class="card-body">
                    <form
                            th:method="POST"
                            th:action="@{/contact-form}"
                            th:object="${contactFormData}"
                    >
                        <div class="form-group mb-3">
                            <label for="name"
                                   class="form-label"
                                   th:text="#{form_label_name}">Име:</label>
                            <input
                                    th:errorclass="'is-invalid alert-danger'"
                                    th:field="*{name}"
                                    type="text"
                                    class="form-control"
                                    id="name"
                                    name="name"
                                    th:placeholder="#{form_placeholder_name}">
                            <span class="invalid-feedback text-danger"
                                  th:if="${#fields.hasErrors('name')}"
                                  th:errors="*{name}"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label for="email"
                                   class="form-label"
                                   th:text="#{form_label_email}">Имейл:</label>
                            <input
                                    th:errorclass="'is-invalid alert-danger'"
                                    th:field="*{email}"
                                    type="email"
                                    class="form-control"
                                    id="email"
                                    name="email"
                                    th:placeholder="#{form_placeholder_email}">
                            <span class="invalid-feedback text-danger"
                                  th:if="${#fields.hasErrors('email')}"
                                  th:errors="*{email}"></span>
                        </div>

                        <div class="form-group mb-4">
                            <label for="message"
                                   class="form-label"
                                   th:text="#{form_label_message}">Съобщение:</label>
                            <textarea
                                    th:errorclass="'is-invalid alert-danger'"
                                    th:field="*{message}"
                                    class="form-control"
                                    id="message"
                                    name="message"
                                    rows="5"
                                    th:placeholder="#{form_placeholder_message}"></textarea>
                            <span class="invalid-feedback text-danger"
                                  th:if="${#fields.hasErrors('message')}"
                                  th:errors="*{message}"></span>
                        </div>

                        <div class="d-grid gap-2">
                            <button type="submit"
                                    class="btn btn-success btn-block">
                                <span th:text="#{form_button_submit}">Изпрати </span>
                                <i th:class="#{form_submit_icon}"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="mt-5">
    <th:block th:replace="~{fragments/footer::footer}"></th:block>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>