<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{terms_conditions_title}">Общи условия</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<div class="wrapper">
    <header>
        <th:block th:replace="~{fragments/commons::nav}"></th:block>
    </header>

    <div class="main-content">
        <div class="container mt-3">
            <h2 class="text-center" th:text="#{terms_conditions_title}">Общи условия</h2>
            <section>
                <div class="container mt-4">
                    <h5 th:text="#{terms_platform_use_header}">1. Платформата и нейната употреба</h5>
                    <p th:text="#{terms_platform_use_text}">Платформата предоставя възможност за потребителите да
                        разменят и подарят лично произведени продукти, включително плодове, зеленчуци, семена, цветя и
                        други.
                        Всеки потребител трябва да се регистрира, за да ползва платформата.</p>

                    <h5 th:text="#{terms_user_responsibilities_header}">2. Отговорности на потребителите</h5>
                    <p th:text="#{terms_user_responsibilities_text}">Ползването на нашата платформа подлежи на тези общи
                        условия. Използването на услугите ни подразбира съгласието ви с тези условия.</p>

                    <h5 th:text="#{terms_registration_profile_header}">3. Регистрация и профил</h5>
                    <p th:text="#{terms_registration_profile_text}">Потребителите са отговорни за точността и
                        актуалността на предоставената информация в профилите си.
                        Забранено е разпространяването на неправилна или обидна информация.</p>

                    <h5 th:text="#{terms_intellectual_property_header}">4. Интелектуална собственост</h5>
                    <p th:text="#{terms_intellectual_property_text}">Всички снимки, текстове и друго съдържание,
                        публикувано на платформата, са интелектуална собственост на съответните потребители.
                        Неразрешеното копиране или използване на съдържание без съгласието на автора е забранено.</p>

                    <h5 th:text="#{terms_updates_changes_header}">5. Промени и актуализации</h5>
                    <p th:text="#{terms_updates_changes_text}">Платформата може да променя или актуализира общите
                        условия по всяко време.
                        Потребителите ще бъдат уведомявани за всяка промяна в общите условия чрез съобщения на
                        платформата или електронна поща.</p>
                    <!--<h3>Защита на личните данни</h3>-->
                    <h5 th:text="#{terms_information_collection_header}">6. Събиране на информация</h5>
                    <p th:text="#{terms_information_collection_text}">Платформата събира лична информация от
                        потребителите при регистрацията.
                        Личната информация може да включва имена, адреси за електронна поща, контактни данни и
                        други.</p>

                    <h5 th:text="#{terms_information_use_header}">7. Употреба на информацията</h5>
                    <p th:text="#{terms_information_use_text}">Личната информация се използва за улесняване на
                        комуникацията между потребителите.
                        Платформата може да използва информацията за подобряване на услугите си и персонализиране на
                        потребителското изживяване.</p>

                    <h5 th:text="#{terms_information_sharing_header}">8. Споделяне на информацията</h5>
                    <p th:text="#{terms_information_sharing_text}">Платформата няма да споделя личната информация с
                        трети страни без изричното съгласие на потребителя, освен ако това не е изисквано от закон.</p>

                    <h5 th:text="#{terms_security_header}">9. Сигурност</h5>
                    <p th:text="#{terms_security_text}">Платформата предприема разумни мерки за защита на личната
                        информация от неразрешен достъп или разкриване.</p>

                    <h5 th:text="#{terms_contact_questions_header}">10. Въпроси и контакти</h5>
                    <p th:text="#{terms_contact_questions_text}">За въпроси относно политиката за защита на личните
                        данни можете да се свържете с нас чрез формата за контакти във футъра на тази страница.</p>

                </div>
            </section>
        </div>
    </div>

    <footer>
        <th:block th:replace="~{fragments/footer::footer}"></th:block>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/scrollToTop.js"></script>
</body>
</html>